.navbar {
    background: linear-gradient(180deg, rgba(0,0,0,0.7316176470588236) 0%, rgba(0,0,0,0) 100%);
    transition: background 0.5s;
    .navbar-nav {
        .nav-item {
            .nav-link {
                color: #f2f2f2;
                
            }
        }
    }

}

.navbar-scrolled {
    background: #1f1f1f;
}